<!-- <button (click)="onScrollTo()">sdg</button> -->
<p> Строк: {{rowsCount}} </p>
<p> Колонок: {{columns.length}} </p> 

<sat-virtual-grid
  #vg
  [source]="source"
  [buffer]="{ y: 5, x: 1 }"
  [defaultScroll]="true"
  (loadedCells)="onLoadedCells($event)"
  (unLoadedCells)="onUnLoadedCells($event)"
  (afterDraw)="onAfterDraw($event)">
</sat-virtual-grid>

<ng-template #section let-cell>
  <div class="section" [class.expanded]="cell.row?.isExpanded">
    <i class="fas left-ico fa-chevron-down" aria-hidden="true"></i>
    <div class="header">{{ cell.content }}</div>
  </div>
</ng-template>

<ng-template #subSection let-cell>
  <div class="subSection" [class]="cell.class">
    <div class="header">{{ cell.content }}</div>
  </div>
</ng-template>

<ng-template #columnCollapsed let-cell>
  <div class="column-collapsed">
    <div class="header">
      <div> {{ cell.content }} </div>
    </div>
  </div>
</ng-template>

<ng-template #column let-cell>
  <div class="column">
    <div class="header">{{ cell.content }}</div>
    <div class="column-resizer"
      [style.left.px]="getColumn(cell).widthInPx"
      (mousedown)="onColumnResizeMousedown($event, cell)" ></div>
  </div>  
</ng-template>

<ng-template #block let-cell>
  <div class="block_root">
    <div
      class="block"
      contenteditable="true"
      (blur)="onCellLostFocus(cell, $event)"
      [innerHTML]="cell.content | safehtml"
    ></div>
  </div>
</ng-template>

<ng-template #number let-cell>
  <div class="number">
    {{ cell.content }}
  </div>
</ng-template>

<ng-template #block_stub let-cell>
  <div [style.height.px]="cell.height"></div>
</ng-template>

<ng-template #blockLast let-cell>
  <div class="block_root">
    <div class="block" [innerHTML]="cell.content | safehtml"></div>

    <div class="block-toolbar">
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button>
    </div>
  </div>
</ng-template>

<ng-template #addRow let-cell>
  <div class="add-row">
    <button (click)="onAddRow(cell)">+</button>
  </div>
</ng-template>

<ng-template #addColumn let-cell>
  <div class="add-column">
    <button (click)="onAddColumn(cell.row.grid, cell.colStart)">+</button>
  </div>
</ng-template>
