:host {
  padding: 1rem;
  display: block;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  overflow: hidden;
}

sat-virtual-grid {
  display: block;
  flex-grow: 1;
  width: calc(100% - 24px);
  height: calc(100% - 100px);
  background-color: lightgrey;
  overflow: auto;
}

.section {
  background-color: lightcoral;
  border: 1px solid black;

  .header {
    width: max-content;
    position: sticky;
    left: 0.3rem;
  }
}

.subSection {
  border: 1px solid black;
  background-color: lightblue;
  //height: calc(100% + 20px);
  height: 100%;
  margin-top: 0px;

  .header {
    position: sticky;
    top: 23px;
    padding-left: 0.3rem;
  }
}

.column-collapsed {
  border: 1px solid black;
  background-color: darkgray;
  width: 100%;
  height: 100%;

  .header {
    //margin-top: 0.3rem;
    padding-top: 0.3rem;
    //transform: rotate(90deg);
    writing-mode: vertical-rl;
    position: sticky;
    top: 25px;
    margin: auto;
  }
}

.column {
  border: 1px solid black;
  display: flex;

  .header {
    padding-left: 0.3rem;
    margin: auto;
  }
  .column-resizer {
    // background-color: red;
    width: 5px;
    height: 20px;
    cursor: e-resize;
  }
}

.add-row {
  position: sticky;
  left: 50%; //calc(50% + 17rem);
  transform: (-50%);

  margin-top: -12px;
  margin-bottom: -12px;
  width: 250px;

  button {
    margin-left: calc(50% - 12px);
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}

.add-column {
  // position: sticky;
  // top: 20px;
  position: absolute;
  top: 20px;
  margin-left: -12px;
  height: 100%;

  button {
    margin-top: calc(50% - 12px);
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}

.number {
  border: 1px solid black;
  position: relative;

  height: 100%;
  align-content: center;
  text-align: center;
  justify-content: center;
  background-color: white;
}

.block {
  position: relative;
  word-wrap: break-word;
  height: 100%;
  margin: 5px;

  &:focus-visible {
    outline: none;
  }

  // .block-toolbar {
  //   display: flex;

  //   padding-left: 0.3rem;
  //   padding-right: 0.3rem;
  //   padding-top: 1rem;
  //   padding-bottom: 1rem;

  //   // display: none;
  //   visibility: hidden;
  //   opacity: 0;

  //   transition: 0.3s;
  //   // display: flex;
  //   flex-direction: column;
  //   transition: 0.3s;
  //   width: 1.4rem;
  //   position: absolute;
  //   right: -2rem;
  //   top: -1rem;
  //   z-index: 10000000;

  //   transition: visibility 1s opacity .3s ease;
  // }

  // &:hover {
  //   .block-toolbar {
  //     visibility: visible;
  //     opacity: 1;
  //   }
  // }
}

.block_root {
  border: 1px solid black;
  //padding: 5px;
  position: relative;
  height: 100%;
  background-color: white;

  .block-toolbar {
    display: flex;

    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    // display: none;
    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    // display: flex;
    flex-direction: column;
    transition: 0.3s;
    width: 1.4rem;
    position: absolute;
    right: -2rem;
    top: -1rem;
    z-index: 10000000;

    transition: visibility 1s opacity 0.3s ease;
  }

  &:hover {
    .block-toolbar {
      visibility: visible;
      opacity: 1;
    }
  }
}

.hide {
  display: none;
}
