html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

scrollbar-y,
scrollbar-x {
  // visibility: hidden;
   visibility: inherit;
}

ng-scrollbar {
  --scrollbar-padding: 3px !important;
  --scrollbar-size: 12px !important;
  --scrollbar-border-radius: unset !important;
  --scrollbar-thumb-color: rgba(0, 0, 0, .8) !important;;
  --scrollbar-track-color:  rgba(0, 0, 0, .1) !important;;

  // &:hover {
  //   scrollbar-y,
  //   scrollbar-x {
  //     visibility: inherit;
  //   }
  // }

  .ng-scrollbar-thumb {
    border-radius: 3px !important;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
